div(style="max-width: 180px")
    .list-group(style="min-width: 180px; margin-left: 10px;")
        .list-group-item
            .row
                .col
                    h6 Option1
                .col.self-align-right
                    input(
                        type='checkbox'
                        name='Op1'
                        checked)
        .list-group-item
            .row
                .col
                    h6 Option2
                .col.self-align-right
                    input(
                        type='checkbox'
                        name='Op2'
                        checked)
    .list-group(style="min-width: 180px; margin-left: 10px;")
        .list-group-item
            .row
                .col
                    h6 Option3
                .col.self-align-right
                    input(type="text", name="MenuBarText1", style="width: 100%")