#menubar
    ul
        li
             h6 Option1
        li
            input(
                type='checkbox'
                name='Op1'
                checked
            )
        li
            h6 Option2
        li
            input(
                type='checkbox'
                name='Op2'
                checked
            )
    ul
        li
            h6 Option3
        li
            input(type="text", name="MenuBarText1")