div(style="max-width: 180px")
    .list-group(style="min-width: 180px; margin-left: 10px;")
        .list-group-item
            .row
                .col
                    h6.text-center.font-weight-bold Display
            .row
                .col
                    h6.text-left Proportion
                .col.text-right
                    input#prop_cbeckbox(type='checkbox' name='Op1')
            .row
                .col
                    h6.text-left Mass
                .col.text-right
                    input#mass_checkbox(type='checkbox' name='Op2' checked)


        .list-group-item
            .row
                .col
                    h6.font-weight-bold Samples
            .row
                .col(style="width: 100%;")
                    input(type="range", min="1", max="100", value="20", class="slider", id="sample-range")
                    p
                        | Value:
                        span#sample-range-value 20
        .list-group-item
            .row
                .col
                    h6.font-weight-bold Misc
            .row(style="min-width: 0;")
                .col-sm-6
                    h6.text-left Quantity (g)
                .col-sm-6.text-right
                    input(type="text", value="0.5", id="desired_quantity", style="max-width: 65px;")
                    
                    
    //.list-group(style="min-width: 180px; margin-left: 10px;")
        .list-group-item
            .row
                .col
                    h6 Option3
                .col.self-align-right
                    input(type="text", name="MenuBarText1", style="width: 100%")
