-var n=0
div(style="max-width: 180px;")
    .input-group.mb-3#precursor-add
        input(type="text", class="form-control", placeholder="", style="")
        .input-group-append
            button.btn#precursor-add-bttn(type="button") Add
        
    .scrollbar.scrollbar-primary#precursor-scroll(style="height: 323px;")

        //.force-overflow
        .list-group#precursors-list(style="min-width: 180px;")
            each prec in precursors
                //.row
                button.list-group-item.list-group-item-action(type="button")=prec.Name
                    //h5 #{prec}
                    //input(
                    //    type='checkbox'
                    //    name=prec.index
                    //)
