-var data = ['Li2S', 'Al2S3', 'Al2O3', 'LiAlO2', 'Li2O']
-var n=0
.list-group#precursors-list(style="min-width: 180px; margin-left: 10px;")
    each prec in data
        //.row
        button(type="button").list-group-item.list-group-item-action(id=n++)=prec
            //h5 #{prec}
            //input(
            //    type='checkbox'
            //    name=prec.index
            //)