-var cz=1
mixin ele(name)
    if (name != "")
        .element-non-metal
            .chip
                .face.front
                    i.hidden-phone=cz++
                    strong.symbol=name

    else
        .element-blank

mixin row(element1, ...elements)
    .periodic-row
        +ele(element1)
        each element in elements
            +ele(element)
        br
                    
.row
    .span10.pt-wrapper#elements
        +row(["H"],"","","","","","","","","","","","","","","","","He")
        +row("Li","Be","","","","","","","","","","","B","C","N","O","F","Ne")
        +row("Na","Mg","","","","","","","","","","","Al","Si","P","S","Cl","Ar")
        +row("K","Ca","Sc","Ti","V","Cr","Mn","Fe","Co","Ni","Cu","Zn","Ga","Ge","As","Se","Br","Kr")
        +row("Rb", "Sr", "Y", "Zr", "Nb", "Mo", "Tc", "Ru", "Rh", "Pd", "Ag", "Cd", "In", "Sn", "Sb", "Te", "I", "Xe")
        +row("Cs", "Ba", "La", "Hf", "Ta", "W", "Re", "Os", "Ir", "Pt", "Au", "Hg", "Tl", "Pb", "Bi", "Po", "At", "Rn")
        +row("Fr", "Ra", "Ac", "Rf", "Db", "Sg", "Bh", "Hs", "Mt", "Ds", "Rg", "Cn", "Nh", "Fl", "Mc", "Lv", "Ts", "Og")
        +row("","","","","","","","","","","","","","","","","","")
        +row("", "", "", "La", "Ce", "Pr", "Nd", "Pm", "Sm", "Eu", "Gd", "Tb", "Dy", "Ho", "Er", "Tm", "Yb", "Lu")
        +row("", "", "", "Ac", "Th", "Pa", "U", "Np", "Pu", "Am", "Cm", "Bk", "Cf", "Es", "Fm", "Md", "No", "Lr")

