mixin ele(name)
    if (name != "")
        .ele(id=name)
            h1= name
    else
        .eleBlock

mixin eleRow(element1, ...elements)
    .row
        +ele(element1)
        each element in elements
            +ele(element)
    br

#ptable
    +eleRow("H","","","","","","","","","","","","","","","","","He")
    +eleRow("Li","Be","","","","","","","","","","","B","C","N","O","F","Ne")
    +eleRow("Na","Mg","","","","","","","","","","","Al","Si","P","S","Cl","Ar")
    +eleRow("K","Ca","Sc","Ti","V","Cr","Mn","Fe","Co","Ni","Cu","Zn","Ga","Ge","As","Se","Br","Kr")
    +eleRow("Rb", "Sr", "Y", "Zr", "Nb", "Mo", "Tc", "Ru", "Rh", "Pd", "Ag", "Cd", "In", "Sn", "Sb", "Te", "I", "Xe")
    +eleRow("Cs", "Ba", "La", "Hf", "Ta", "W", "Re", "Os", "Ir", "Pt", "Au", "Hg", "Tl", "Pb", "Bi", "Po", "At", "Rn")
    +eleRow("Fr", "Ra", "Ac", "Rf", "Db", "Sg", "Bh", "Hs", "Mt", "Ds", "Rg", "Cn", "Nh", "Fl", "Mc", "Lv", "Ts", "Og")
    +eleRow("","","","","","","","","","","","","","","","","","")
    +eleRow("", "", "", "La", "Ce", "Pr", "Nd", "Pm", "Sm", "Eu", "Gd", "Tb", "Dy", "Ho", "Er", "Tm", "Yb", "Lu")
    +eleRow("", "", "", "Ac", "Th", "Pa", "U", "Np", "Pu", "Am", "Cm", "Bk", "Cf", "Es", "Fm", "Md", "No", "Lr")

