#topbar
    #logo(class="noselect") &lt;Samply&gt;
    ul
        li
            a(href='/') Home
        li
            a(href='/ptable') Periodic Table
        li(style="float: right;")
            a(href='/logout') Logout
