head
    link(href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")

body
    div(class="mainbox")
        h1 &lt; Project Name Here &gt;

        br

        h2 Error: #{text}
