head
    link(href="https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="css/main.css")
    link(rel="stylesheet" type="text/css" href="css/periodicTable.css")
    script(src="jquery-3.4.1.min.js")

body
    script(type='text/javascript').
        $(document).ready(function(){
            $("#ptable-wrapper").height =  $(window).height() - $("#topbar").height();
        });
    include includes/topbar.pug

    #ptable-wrapper
        include includes/ptable.pug
